.homebanner img{
  width: 100%;
  object-fit: cover;
}
.shopcetagory{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.shopcetagory h2{
  font-size: 2rem;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}